h1.display-4 {
    padding-top: 20px;
}

#aboutme {
	padding-bottom: 20px;
}

#resume {
	background-color: #525659;
}

#resume-background {
	background-color: #525659;
}

#bike {
	padding: 0 0 20px 0;
}